@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600&family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

main {
    padding-top: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(35, 46, 78);
    background: linear-gradient(217deg, rgba(35, 46, 78, 1) 0%, rgba(88, 109, 138, 1) 24%);
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
main .date{
    font-size: .9rem;
    color: #fff;
    opacity: .6;
    align-self: self-start;
    margin-left: 15px;
}
.location {
    opacity: .7;
    font-size: 1.1rem;
}

.weather-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}


.weather-info{
    display: flex;
    align-items: center;
}
.info__detailed span{
    font-size: 1.1rem;
    font-weight: 800;
    color: #254070;
}
.info__detailed p{
    font-size: 1.4rem;
    margin-bottom: 10px;
}

/* form input */
.input__location{
    display: flex;
    align-items: center;
    position: relative;
    background-color: #fff;
    gap: 5px;
    color: rgb(182, 181, 187);
    padding: 5px;
    border-radius: 7px;
    margin-bottom: 10px;
}
.input__location input{
   border-radius: 6px;
   padding: 6px 5px;
   background: #fff;
   outline: none;
   border: none;
   color: #000;
   font-family: 'Chakra Petch', sans-serif;
   font-family: 'Montserrat', sans-serif;
}
.input__location svg:hover{
    color: #254070;
    cursor: pointer;
}